.Like {
    background-color: lightblue;
    padding: 5px 10px;
    border-radius: 10px;
    
}


.Comment {
    background-color: lightpink;
    padding: 5px 10px;
    border-radius: 10px;
    
}

.likeContainer {
    padding: 10px;
    width: max-content;
    display:inline-block;
}